<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="FreeCRMApplicationTestSuite">
<listeners>
<listener class-name="com.crm.util.ExternReports"/>
</listeners>
  <test thread-count="5" name="FreeCRMTest">
    <classes>
      <class name="com.crm.testcases.ContactsPageTest"/>
      <class name="com.crm.testcases.HomePageTest"/>
      <class name="com.crm.testcases.LoginPageTest"/>
    </classes>
  </test> <!-- FreeCRMTest -->
</suite> <!-- FreeCRMApplicationTestSuite -->
